<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body{
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            text-align: center;
            background-color: bisque;
        }
        .container{
            width: 300px;
        border: 5px solid rgb(0, 0, 0);
        padding: 50px;
        margin: 20px;
        margin-left: 480px;
        text-align: center;
        
        }
        
    </style>
</head>
<body>
    <h2 class=" head">Welcome to the Brewery Review App!</h2>
    <div class="container">
    
    {% if current_user.is_authenticated %}
        <p>Hello, {{ current_user.username }}! on clicking below you will be redirected to serach page where you can search breweries and check there details and also can add ratings and reviews.</p>
        <a href="{{ url_for('search') }}"><button>Search Breweries</button></a>
        <br><br>
        <p>Or want to logout, click below</p>
        <a href="{{ url_for('logout') }}"><button>Logout</button></a>
    {% else %}
        <p>welcome, login to review Breweries</p>
        <p><a href="{{ url_for('login') }}"><button>Login</button></a> 
            <br/>
            <p>New here, signup to get access to brewery sites</p>
            <a href="{{ url_for('signup') }}"><button>Sign Up</button></a></p>
    {% endif %}
    </div>
</body>
</html>
